@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Oswald:wght@200;300&family=Roboto+Mono:ital,wght@0,500;1,400&family=Roboto:ital,wght@0,400;1,300&display=swap');


body {
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: salmon;
    font-family: 'Roboto Mono', monospace, cursive;
}